<table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
        >
          País
        </th>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
        >
          Población
        </th>
        <th
          class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
        >
          Porcentaje de habitantes
        </th>
      </tr>
    </thead>
    <tbody *ngIf="countriesList.length > 0">
      <tr *ngFor="let country of countriesList">
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          {{ country.name }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          {{ country.population | number }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          {{ country.percentage | percentageFormat }}
        </td>
      </tr>
    </tbody>
  </table>